<!DOCTYPE html>
<html>
<head>
<style>
body {
    background: linear-gradient(#ffffff, #ffccff);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
</style>
</head>
<body>
</body>
</html>

